[Desktop Entry]
Name=Insomnia
Comment=Powerful HTTP and GraphQL tool belt
Exec=insomnia %U
Icon=insomnia
Terminal=false
Type=Application
Categories=Development;Network;
StartupNotify=true