*.swo
*.swp
*~
\#*#

# Сборочные директории (самое тяжелое)
masterdir*
builddir
destdir

# Хост-директория (тут лежат бинарники, исходники и кэш)
hostdir

# Метаданные и временные файлы xbps-src
common/state
.xbps_chroot_*
*.lock

# exclude everything in root except files and directories from void-packages
/*
!/.editorconfig
!/.gitattributes
!/.github
!/.gitignore
!/.mailmap
!/CONTRIBUTING.md
!/COPYING
!/Manual.md
!/README.md
!/common
!/etc
!/srcpkgs
!/xbps-src
etc/conf
etc/conf.*
etc/virtual
etc/xbps.d/custom
etc/repo-keys
